<!DOCTYPE html>
<html lang="en" ng-app="cityflixApp">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Cityflix</title><link href="stylesheets/normalize.css" rel="stylesheet" /><link href="stylesheets/all.css" rel="stylesheet" /><script src="javascripts/all.js"></script>
  </head>
  <body ng-controller="MovieListCtrl">
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Cityflix</a>
          </div>
        </div>
      </nav>
    </header><main><div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h1 class="text-center">
              Movies filmed in SF
            </h1>
            <p class="text-center">
              Total: {{ movies.length }} / Showing: {{ (movies | filter:query | filter:yearFilter | filter:posterFilter).length }}
            </p>
          </div>
        </div>
        <div class="row section">
          <div class="col-sm-9">
            <div class="form-group">
              <label>Search</label> <input class="form-control" ng-model="query" placeholder="Search by title, release year, director, and plot" type="text" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Display</label>
              <div aria-label="Show or hide movies without posters" class="btn-group btn-group-justified" role="group">
                <label btn-radio="false" class="btn btn-default primary-active-state-btn" ng-model="postersOnly">All</label><label btn-radio="true" class="btn btn-default primary-active-state-btn" ng-model="postersOnly">Posters</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>Release Year</label><rzslider rz-slider-ceil="yearSlider.ceil" rz-slider-floor="yearSlider.floor" rz-slider-high="yearSlider.max" rz-slider-model="yearSlider.min" rz-slider-on-change="onSliderChange()"></rzslider>
            </div>
          </div>
        </div>
        <div class="row masonry-row">
          <div class="item" ng-repeat="movie in movies | filter:query | filter:yearFilter | filter:posterFilter">
            <div class="well">
              <img class="center-block img-responsive mb1" ng-if="movie.poster" ng-src="{{ movie.poster }}" />
              <h4>
                {{ movie.title }} <small>{{ movie.release_year }}</small>
              </h4>
              <p class="mb0">
                Director: <strong>{{ movie.director }}</strong>
              </p>
              <hr class="dark-hr" />
              <p class="mb0">
                {{ movie.plot }}
              </p>
            </div>
          </div>
        </div>
        <div class="row" ng-show="!(movies | filter:query | filter:yearFilter | filter:posterFilter).length">
          <div class="col-xs-12">
            <p class="text-center">
              No movies <span ng-show="query">for <strong>{{ query }}</strong> </span>between <strong>{{ yearSlider.min }}</strong> and <strong>{{ yearSlider.max }}</strong> <span ng-show="postersOnly === true">with <strong>posters</strong></span>
            </p>
          </div>
        </div>
      </div></main><footer></footer>
  </body>
</html>