//
// Masonry
// --------------------------------------------------

.masonry-row {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em;
  padding-left: 15px;
  padding-right: 15px;
  .item {
    display: inline-block;
    padding:  .25rem;
    width:  100%;
    .well {
      position:relative;
      display: block;
    }
  }
}