@charset "utf-8";

// Import with partial names so we don't pull in the bootstrap that is in bower_components
@import "_bootstrap-sprockets";
@import "_bootstrap";

body {
  background: url("../images/background.png") top left repeat;
}

.card {
  display: block;
  position: relative;
  margin: 12px 0 18px;
  background: #fff;
  padding: 16px;
  border: 1px solid #d5d5d5;
  -webkit-box-shadow: 0 2px 3px -1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 3px -1px rgba(0,0,0,0.25);
  box-shadow: 0 2px 3px -1px rgba(0,0,0,0.25);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

header nav.navbar {
  border-radius: 0;
}

//body {
//  background: #d4d4d4 url("../images/background.png");
//  text-align: center;
//  font-family: sans-serif; }
//
//h1 {
//  color: rgba(0, 0, 0, .3);
//  font-weight: bold;
//  font-size: 32px;
//  letter-spacing: -1px;
//  text-transform: uppercase;
//  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
//  background: url("../images/middleman.png") no-repeat center 100px;
//  padding: 350px 0 10px;
//  margin: 0; }
//
//.doc {
//  font-size: 14px;
//  margin: 0; }
//  .doc:before,
//  .doc:after {
//    opacity: .2;
//    padding: 6px;
//    font-style: normal;
//    position: relative;
//    content: "•"; }
//  .doc a {
//    color: rgba(0, 0, 0, 0.3); }
//    .doc a:hover {
//      color: #666; }
//
//.welcome {
//  -webkit-animation-name: welcome;
//  -webkit-animation-duration: .9s; }
//
//@-webkit-keyframes welcome {
//  from {
//    -webkit-transform: scale(0);
//    opacity: 0;
//  }
//  50% {
//   -webkit-transform: scale(0);
//   opacity: 0;
//  }
//  82.5% {
//    -webkit-transform: scale(1.03);
//    -webkit-animation-timing-function: ease-out;
//    opacity: 1;
//  }
//  to {
//    -webkit-transform: scale(1);
//  }
//}